<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'external/style.css' %}"> 
</head>

<body>

    <div class="container">
        <div class="left">
            <img src="{% static 'external/images.jpg' %}" alt="Registration Image">
        </div>

        <div class="right">
            <form id="registerForm">
                <h2>Register</h2>

                <input type="text" id="name" placeholder="Full Name">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <input type="password" id="confirmPassword" placeholder="Confirm Password">

                <button type="submit">Register</button>

                <p id="message"></p>
            </form>
        </div>
    </div>

    <script src="{% static 'external/script.js' %}"></script>
</body>

</html>